NSOperationTest.xcodeproj/project.xcworkspace/xcuserdata/zhangshanghuitongmac.xcuserdatad/UserInterfaceState.xcuserstate
NSOperationTest.xcodeproj/xcuserdata/zhangshanghuitongmac.xcuserdatad/xcschemes/xcschememanagement.plist
